.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    background-color: #003366;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 30px;
}

.nav-link {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-time{
    color:#ccc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    font-weight: bolder;
}

.nav-link:hover {
    color: #a9b3c4;
    text-decoration: none;
}
